<footer class="footer">
  <div class="footer-contenido">
    <div class="footer-logo">
      <img src="assets/img/logo-sin-fondo.png" alt="Hostal Ibiza Talca">
    </div>

    <div class="footer-info">
      <h4>Hostal Ibiza Talca</h4>
      <p>📍 11 Oriente #1635, Talca, Chile</p>
      <p>📞 <a href="tel:+56990327387">+56 9 9032 7387</a></p>
      <p>✉️ <a [href]="emailstring">reservas&#64;hostalibizatalca.cl</a></p> 
    </div>

    <div class="footer-copy">
      <p>© {{ currentYear }} Hostal Ibiza. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
