<footer class="footer">
  <div class="footer-contenido">
    <div class="footer-logo">
      <img src="assets/img/logo-sin-fondo.png" alt="Hostal Ibiza Talca">
    </div>

    <div class="footer-info">
      <h4>Hostal Ibiza Talca</h4>
      <p>📍 11 Oriente #1635, Talca, Chile</p>
      <p>📞 <a href="tel:+56990327387">+56 9 9032 7387</a></p>
      <p>✉️ <a [href]="emailstring">reservas&#64;hostalibizatalca.cl</a></p>
    </div>

    <!-- Filita de redes sociales -->
    <div class="footer-redes">
      <a href="https://www.instagram.com/hostalibizatalca/" target="_blank" rel="noopener">
        <img src="assets/img/redes/instagram_logo.png" alt="Instagram">
      </a>
      <a href="https://web.facebook.com/profile.php?id=61560892540482" target="_blank" rel="noopener">
        <img src="assets/img/redes/facebook-logo.png" alt="Facebook" style="width: 40px; height: 40px; position: relative; top: -5px;">
      </a>
      <a href="https://www.tiktok.com/@hostal.ibiza.talc?_r=1&_t=ZM-91X8ItnF5KK" target="_blank" rel="noopener">
        <img src="assets/img/redes/tiktok-logo.svg" alt="TikTok">
      </a>
    </div>

    <div class="footer-copy">
      <p>© {{ currentYear }} Hostal Ibiza Talca. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
