<div *ngIf="sections.length === 0">
  <br><br>
  <p class="text-center">Aquí dejaremos las fotos del matrimonio. ¡Te esperamos!</p>
</div>

<div *ngFor="let section of sections" class="section-wrapper">
  <h3 class="section-title">{{ section.name }}</h3>

  <div class="photo-grid">
    <div *ngFor="let foto of section.photos" class="photo-item">
      <a target="_blank">
        <img [src]="foto.thumbnailLink" [alt]="foto.name" />
      </a>
    </div>
  </div>

  <br>

  <button
    class="btn-elegante"
    *ngIf="section.nextPageToken"
    [disabled]="!habilitado"
    (click)="loadMore(section)"
  >
    Cargar más
  </button>

  <br><br>
</div>