<div style="padding-top: 40px;">
  <div class="container-fluid p-0">
    <div class="logo-fixed">
      <img src="assets/img/logo-sin-fondo.png" alt="Logo Hostal">
    </div>
    <!-- Carrusel principal -->
    <div id="carrusel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <video
            #bgVideo
            autoplay
            muted
            loop
            playsinline
            preload="auto"
            class="bg-video"
          >
            <source src="assets/videos/presentacion-cut.mp4" type="video/mp4" />
          </video>
          <div class="carousel-caption">
            <a href="#reserva" class="btn-reserva-inicio">Reservar ahora</a>
          </div>

        </div>
      </div>
    </div>

    <!-- Sección Bienvenida -->
    <div class="seccion-parallax" id="bienvenida" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/img/exterior.jpg');">
      <div style="height: 200px;"></div>
      <div class="container mt-4 text-center">
        <h2 class="section-title" style="color: white;"><i class="bi bi-house-heart"></i> Nosotros</h2>
        <p style="color: white;">
          <strong>Hostal Ibiza</strong> es un alojamiento pensado para quienes buscan practicidad y comodidad en el corazón de Talca. 
          Con más de 40 habitaciones, disponibilidad de baños privados, Wi-Fi y estacionamiento, ofrecemos un espacio funcional y acogedor para turistas y visitantes de paso.
           Ubicado en una zona clave por sus facilidades de acceso, permite a sus huéspedes moverse rápidamente hacia el centro, el mall o distintas rutas de la ciudad. 
           Con un comedor disponible para el desayuno de cada día y un equipo atento a las necesidades de cada huésped, nuestro objetivo es que cada estadía sea sencilla, 
           agradable y que quienes nos visitan se sientan bien recibidos y satisfechos con su elección.
        </p>
      </div>
      <div style="height: 200px;"></div>
    </div>

    <!-- Sección Fotos -->
    <div class="section" id="fotos">
      <div class="container mt-4 text-center">
        <h2 class="section-title"><i class="bi bi-door-closed"></i> Fotos y videos</h2>
        <app-photo-gallery></app-photo-gallery>
      </div>
    </div>

    <!-- Sección Ubicación -->
    <div class="seccion-parallax" id="ubicacion" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/img/exterior.jpg');">
      <div style="height: 100px;"></div>
      <div class="container mt-4">
        <h2 class="section-title text-center" style="color: white"><i class="bi bi-geo-alt"></i> Ubicación</h2>
        <div class="mapa-contenedor">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3251.361067104624!2d-71.65262082349807!3d-35.42108470112513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9665c7315fc27561%3A0xf5be8395093e3cc1!2sHostal%20Ibiza%2C%20Talca!5e0!3m2!1ses!2scl!4v1762286593246!5m2!1ses!2scl"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>

      </div>
      <div style="height: 100px;"></div>
    </div>

    <!-- Sección Contacto / Reserva -->
    <div class="section" id="reserva">
      <div class="container mt-4 contacto-wrapper">

        <h2 class="section-title">
          <i class="bi bi-chat-dots"></i> Contáctanos
        </h2>

        <p class="contacto-subtexto">
          Escríbenos tu mensaje y elige cómo enviarlo:
        </p>

        <div class="contacto-card">

          <!-- Textarea -->
          <textarea 
            [(ngModel)]="mensaje"
            placeholder="Hola, me gustaría consultar sobre disponibilidad, precios o realizar una reserva."
            class="contacto-textarea"
          ></textarea>

          <!-- Botones -->
          <div class="contacto-botones">

            <!-- Enviar por WhatsApp -->
            <button class="btn-wsp" (click)="enviarWhatsApp()">
              <i class="bi bi-whatsapp"></i> Enviar por WhatsApp
            </button>

            <!-- Enviar por Correo -->
            <button class="btn-mail" (click)="enviarCorreo()">
              <i class="bi bi-envelope-fill"></i> Enviar por Correo
            </button>

          </div>
        </div>

      </div>
    </div>
    <br><br>
  </div>
</div>
